/*Jc Ghyselinck  */
/*Le 03/10/2022*/
/*Le Gîte du Moulin*/
/*css attaché à index.html*/
/*-----------------------------------*/
@font-face {
    font-family: Average;
    src: url('police/AverageSans-Regular.ttf');
}

*, body, html {
    font-family: Average;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
}

#principale {
    position: relative;
    top: 241px;
}

.toppage {
    position: fixed;
    opacity: 15%;
    bottom: 30px;
    right: 10px;
    transform: scale(0.5) rotate(-90deg);
    -webkit-transform: scale(0.5) rotate(-90deg);
    -moz-transform: scale(0.5) rotate(-90deg);
    -ms-transform: scale(0.5) rotate(-90deg);
    -o-transform: scale(0.5) rotate(-90deg);
    z-index: 1;
}

.toppage:hover {
    opacity: 100%;
}

#main { /*menu-conteneur principal*/
    display: flex;
    flex-direction: column;
}

#main > div:nth-child(1) { /*menu-conteneur du logo*/
    display: flex;
    justify-content: center;
    background-color: #93d393;
    padding-top: 20px;
    padding-bottom: 20px;
}

.boutonMenu { /*menu-div du lien bouton menu (corps du bouton)*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px; 
    width: 250px;
    height: 50px;   
}

#main > div a { /*texte bouton*/
    font-size: 22px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-decoration: underline;   
}

.boutonMenu:hover, #main > div a:hover { /*bouton au survol*/
    width: 250px;
    height: 50px;
    background-color: #81BD80;
    color: #E1EF87;
    text-decoration: none;
}

#main > div:nth-child(2) { /*conteneur des boutons*/
    display: flex;
    justify-content: space-evenly ;
    background-color: #93d393;
    padding-bottom: 10px;
}

#grandPhoto {
    position: relative;
    background-color: #E3EBE3;
    /*border: solid 3px red;*/
}

#photo {
    width: 100%;
    filter: contrast(110%);
    margin: 0;
    padding: 0;
    -webkit-filter: contrast(110%);
}

#GrandTexte { /*Grand texte sur la photo*/
    position: absolute;
    font-size: 110px;
    color: #E2FFE1;
    top: 150px;
    left: 80px;
}

#text1 { /*Premier paragrhaphe: description générale*/
    font-size: 24px;
    text-justify: justify;
    padding: 44px 50px 50px 50px;
    background-color: #E3EBE3;
}

#carrousel { /*Conteneur du carrousel*/
    width: 100%;
    height: 700px;
    background-color: #A1ACA1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.imageCar { /*Images formatées du carrousel*/
    width: 900px;
    height: 500px;
}

.imageCar:hover {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.contImageCar { /*Conteneur des images du carrousel*/
    position: relative;
}

#intitul {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: 25px;
    left: 50px;
    color: rgb(71, 46, 13)
}

#leftBouton { /*Rotation du boutongauche*/
    transform: rotate(180deg);
}

.direction {
    /*Colorationdufondboutondedirectioncarrousel*/background-color: #A1ACA1;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
}

#reservCont { /*Conteneur bouton réserver*/
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#reservCar { /*Bouton réservation carrousel*/
    width: 300px;
    height: 50px;
    border-radius: 7px;
    background-color: #E1EF87;
    position: relative;
    top: -200px; 
}

/*Aire du camping car---------------------------------------------*/
#conteneurArticle1 { /*Conteneur article aire de camping car*/
    
    width: 100%;
    height: 500px;
    background-color: #CCCCCC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#reservCc { /*Bouton réserver aire camping car*/
    width: 300px;
    height: 50px;
    border-radius: 7px;
    background-color: #E1EF87;
}

#reservCc:hover {
    background-color: white;
} 

#reservCc p { /*Texte du bouton réserver aire camping car*/ 
    font-size: 25px;
}

#conteneurAside11, #conteneurAside12 { /*2 sous-conteneurs aire camping car*/
    width: 45%;
    height: 500px;
    font-size: 24px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}

#conteneurAside12 p { /*Texte Notre aire de camping car*/
    font-size: 26px;
} 

#photo2 {
    width: 600px;
    height: 420px;
}

/*Notre hostellerie---------------------------------------------*/

#conteneurArticle2 { /*Conteneur article hostellerie*/
    width: 100%;
    height: 500px;
    background-color: #CFD7CF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#reservKg { /*Bouton réserver hostellerie*/
    width: 300px;
    height: 50px;
    border-radius: 7px;
    background-color: #E1EF87;
}

#reservKg:hover {
    background-color: white;
}

#reservKg p { /*Texte du bouton réserver hostellerie*/ 
    font-size: 25px;
}

#conteneurAside21, #conteneurAside22 { /*2 sous-conteneurs hostellerie*/
    width: 45%;
    height: 500px;
    font-size: 24px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#conteneurAside21 p { /*Texte Notre aire de camping car*/
    font-size: 26px;
} 

#photo3 {
    width: 600px;
    height: 420px;
}

/*A découvrir---------------------------------------------*/

#conteneurArticle3 { /*Conteneur article A découvrir*/
    width: 100%;
    height: 500px;
    background-color: #CCCCCC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#conteneurAside31, #conteneurAside32 { /*2 sous-conteneurs A découvrir*/
    width: 45%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#conteneurAside32 p { /*Texte A découvrir*/
    font-size: 26px;
} 

#photo4 {
    width: 600px;
    height: 420px;
}

/*Nos extérieurs---------------------------------------------*/

#conteneurArticle4 { /*Conteneur article Nos extérieurs*/
    width: 100%;
    height: 500px;
    background-color: #CFD7CF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#conteneurAside41, #conteneurAside42 { /*2 sous-conteneurs Nos extérieurs*/
    width: 45%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#conteneurAside41 p { /*Texte Nos extérieurs*/
    font-size: 26px;
}

#photo5 {
    width: 600px;
    height: 420px;
}

/*Le footer---------------------------------------------*/

#contfoot { /*Conteneur footer*/
    background-color: #769976;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

li a { /*Liens mentions*/
    text-decoration: none;
    color: black;
}

li a:hover { /*Liens mentions*/
    color: white;
}

.entet { /* Formatage texte Mentions*/
    font-size: 26px;
}

#mentions { /*Conteneur mentions*/
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#coord > li:first-of-type { /*logo adresse*/
    list-style: url("/images_logos/panneau.png");
}

#coord > li:nth-of-type(2) { /*logo téléphone*/
    list-style: url("/images_logos/tel.png");
}

#coordonnees {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#resosoc {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resosoc a img:hover {
    filter: invert(50%);
    -webkit-filter: invert(100%);
}

#partenaire {
    display: flex;
    justify-content: center;
    align-items: center;;
    font-size: 20px;
    background-color: #769976;
    padding-bottom: 40px;
    padding-top: 30px;   
}

#part:hover {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

/*border: solid 4px yellowgreen;*/



