/*Jc Ghyselinck  */
/*Le 03/10/2022*/
/*Le Gîte du Moulin*/
/*css attaché à index.html*/
/*-----------------------------------*/
@font-face {
    font-family: Average;
    src: url('police/AverageSans-Regular.ttf');
}

* {
    font-family: Average;  
} 

body {
    margin: 0;
    padding: 0;
}

#main { /*menu-conteneur principal*/
    display: flex;
    flex-direction: column;
    
}

#main > div:nth-child(1) { /*menu-conteneur du logo*/
    display: flex;
    justify-content: center;
    background-color: #CFD7CF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.boutonMenu { /*menu-div du lien bouton menu (corps du bouton)*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #81BD80;
    width: 20%;
    height: 60px;    
}

#main > div a { /*texte bouton*/
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;   
}

#main > div a:hover { /*texte bouton*/
    color: white;
}

#main > div:nth-child(2) { /*conteneur des boutons*/
    display: flex;
    justify-content: space-around;
    background-color: #CFD7CF;
    padding-top: 20px;
    padding-bottom: 50px;
}

#photo { /*Photo grand format*/
    width: 100%;
    filter: contrast(110%);
}


#GrandTexte { /*Grand texte sur la photo*/
    position: absolute;
    font-size: 110px;
    color: #E2FFE1;
    top: 270px;
    left: 580px;
}

#text1 { /*Premier paragrhaphe: description générale*/
    position: relative;
    top: -3px;
    font-size: 24px;
    text-justify: justify;
    padding: 50px;
    background-color: #E3EBE3;
}

#carrousel { /*Conteneur du carrousel*/
    position: relative;
    top: -3px;
    width: 100%;
    height: 767px;
    background-color: #A1ACA1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.imageCar { /*Images formatées du carrousel*/
    width: 900px;
    height: 500px;
}

#leftBouton { /*Rotation du boutongauche*/
    transform: rotate(180deg);
}

.direction { /*Coloration du fond bouton de direction carrousel*/
    background-color: #A1ACA1;
}

#reservCont { /*Conteneur bouton réserver*/
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#reservCar { /*Bouton réservation carrousel*/
    width: 300px;
    height: 50px;
    border-radius: 7px;
    background-color: #E1EF87;
    position: relative;
    top: -200px; 
}

#reservCar p { /*Texte du bouton réservation carrousel*/
    font-size: 25px;
    position: relative;
    top: -20px;   
}

/*Aire du camping car---------------------------------------------*/
#conteneurArticle1 { /*Conteneur article aire de camping car*/
    width: 100%;
    height: 648px;
    background-color: #CCCCCC;
    position: relative;
    top: -54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#reservCc { /*Bouton réserver aire camping car*/
    width: 300px;
    height: 50px;
    border-radius: 7px;
    background-color: #E1EF87;
}

#reservCc p { /*Texte du bouton réserver aire camping car*/ 
    font-size: 25px;
    position: relative;
    top: -20px;
}

#conteneurAside11, #conteneurAside12 { /*2 sous-conteneurs aire camping car*/
    width: 50%;
    font-size: 24px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#conteneurAside12 p { /*Texte Notre aire de camping car*/
    font-size: 36px;
} 

#photo2 {
    position: relative;
    top: -33px;
    width: 600px;
    height: 420px;
}

/*Notre hostellerie---------------------------------------------*/

#conteneurArticle2 { /*Conteneur article hostellerie*/
    width: 100%;
    height: 648px;
    background-color: #CFD7CF;
    position: relative;
    top: -54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#reservKg { /*Bouton réserver hostellerie*/
    width: 300px;
    height: 50px;
    border-radius: 7px;
    background-color: #E1EF87;
}

#reservKg p { /*Texte du bouton réserver hostellerie*/ 
    font-size: 25px;
    position: relative;
    top: -20px;
}

#conteneurAside21, #conteneurAside22 { /*2 sous-conteneurs hostellerie*/
    width: 50%;
    font-size: 24px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#conteneurAside21 p { /*Texte Notre aire de camping car*/
    font-size: 36px;
} 

#photo3 {
    position: relative;
    top: -33px;
    width: 600px;
    height: 420px;
}

/*A découvrir---------------------------------------------*/

#conteneurArticle3 { /*Conteneur article A découvrir*/
    width: 100%;
    height: 648px;
    background-color: #CCCCCC;
    position: relative;
    top: -54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#conteneurAside31, #conteneurAside32 { /*2 sous-conteneurs A découvrir*/
    width: 50%;
    font-size: 24px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#conteneurAside32 p { /*Texte A découvrir*/
    font-size: 36px;
} 

#photo4 {
    position: relative;
    top: -33px;
    width: 600px;
    height: 420px;
}


/*Nos extérieurs---------------------------------------------*/

#conteneurArticle4 { /*Conteneur article Nos extérieurs*/
    width: 100%;
    height: 648px;
    background-color: #CFD7CF;
    position: relative;
    top: -54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#conteneurAside41, #conteneurAside42 { /*2 sous-conteneurs Nos extérieurs*/
    width: 50%;
    font-size: 24px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#conteneurAside41 p { /*Texte Nos extérieurs*/
    font-size: 36px;
}

#photo5 {
    position: relative;
    top: -33px;
    width: 600px;
    height: 420px;
}


/*Le footer---------------------------------------------*/

#contfoot { /*Conteneur footer*/
    background-color: #769976;
    position: relative;
    top: -54px;
    display: flex;
    justify-content: space-around;
}

li a { /*Liens mentions*/
    text-decoration: none;
    color: black;
}

li a:hover { /*Liens mentions*/
    color: white;
}

.entet { /* Formatage texte Mentions*/
    font-size: 26px;
}

#mentions { /*Conteneur mentions*/
    position: relative;
    top: -10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#coord > li:first-of-type { /*logo adresse*/
    list-style: url("/images_logos/panneau.png");
}

#coord > li:nth-of-type(2) { /*logo téléphone*/
    list-style: url("/images_logos/tel.png");
}

#coordonnees {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#resosoc {
    position: relative;
    top: -25px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#partenaire {
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: #769976;
    padding-bottom: 40px;
    padding-top: 30px;
    position: relative;
    top: -54px;
}



/*border: solid 4px yellowgreen;*/



